  // Site Variables
  --color-primary: #05E4E8;
  --color-primary-glow: #424DA6;
  --color-secondary: #FF9F26;
  --color-secondary-glow: #E83123;
  --color-accent: #E757FF;
  // Clock Variables
  --tube-text-color: #48ffe5;
  --tube-glow-color: #32f587;
  --tube-font-size: 100px;

  // Global Nixie Tube Variables
  --nixie-back: #000;
  --nixie-off: rgba(50, 50, 50, 0.15);
  --nixie-shadow: 0 0 60px;
  --nixie-font-size: 20vw;
  --nixie-font: "Lato", sans-serif;

  // Logo Letter Variables
  --nixie-text-color: #05E4E8;
  --nixie-text-glow: #424DA6;

  // Logo Number Variables
  --nixie-num-color: #FF9F26;
  --nixie-num-glow: #E83123;

}
