.container {
  display: flex;
  justify-content: center;
}
.clearfix {
  clear: both;
}

input {
  width: 300px;
  margin: 10px;
  color: var(--color-primary);
  background-color: black;
  border-color: var(--color-primary-glow);
}

textarea {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-primary-glow);
  background-color: black;
  color: var(--color-primary);
}

.contact-form-submit {
  text-align: center;
}

body {
  background-image: url("/assets/images/victoria.jpg");
  height: 200vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}
