html {
  background: #000 !important;
}
:root {
  // Site Variables
  --color-primary: #05E4E8;
  --color-primary-glow: #424DA6;
  --color-secondary: #FF9F26;
  --color-secondary-glow: #E83123;
  --color-accent: #E757FF;
  // Clock Variables
  --tube-text-color: #48ffe5;
  --tube-glow-color: #32f587;
  --tube-font-size: 100px;

  // Global Nixie Tube Variables
  --nixie-back: #000;
  --nixie-off: rgba(50, 50, 50, 0.15);
  --nixie-shadow: 0 0 60px;
  --nixie-font-size: 20vw;
  --nixie-font: "Lato", sans-serif;

  // Logo Letter Variables
  --nixie-text-color: #05E4E8;
  --nixie-text-glow: #424DA6;

  // Logo Number Variables
  --nixie-num-color: #FF9F26;
  --nixie-num-glow: #E83123;

}

body {
  background: #000;
}

* {
  margin: 0;
}

.clock {
  color: rgba(50, 50, 50, 0.35);
  display: flex;
  margin: 20vh auto;
  text-align: center;
  background: #191919;
  justify-content: center;
  align-items: center;
  line-height: initial;
  font-size: var(--tube-font-size);
  font-family: "Lato", sans-serif;
  padding: 0;

  p.separator {
    font-size: calc(0.6 * var(--tube-font-size));
    vertical-align: top;
    line-height: initial;
    color: var(--tube-text-color);
    text-shadow: 0 0 60px var(--tube-glow-color);
  }

  section {
    display: flex;

    div {
      width: calc(0.6 * var(--tube-font-size));
      height: calc(1.2 * var(--tube-font-size));
      display: flex;
      align-items: center;

      p {
        position: absolute;
        transition: 0.3s ease color, 0.3s ease text-shadow;
        margin: 0;

        &.active {
          color: var(--tube-text-color);
          text-shadow: 0 0 60px var(--tube-glow-color);
        }
      }
    }
  }
}
p.separator {
  font-size: calc(0.6 * var(--tube-font-size));
  vertical-align: top;
  line-height: initial;
  color: var(--tube-text-color);
  text-shadow: 0 0 60px var(--tube-glow-color);
}

/* Begin Fancy CSS */


body {
  display:flex;
  justify-content: center;
}

.nixie {
  display: flex;
  color: var(--nixie-off);
  font-size: var(--nixie-font-size);
  font-family: var(--nixie-font);

  &--tube, &--digit {
    display: flex;
    justify-content: center;
    width: calc(0.5 * var(--nixie-font-size));
    height: calc(1.5 * var(--nixie-font-size));

    &--element {
      position: absolute;
      transition: 0.3s ease color, 0.3s ease text-shadow;
    }
  }

  &--tube {
    &--element {
      &--active {
        color: var(--color-primary);
        text-shadow: 0 0 60px var(--color-primary-glow);
      }
    }
  }

  &--digit {
    &--element {
      &--active {
        color: var(--color-secondary);
        text-shadow: 0 0 60px var(--color-secondary-glow);
        transition: 0.3s ease color, 0.3s ease text-shadow;
      }
    }
  }
}

