<div class="container" style="width: 100%; padding: 0;">
  <form class="contact--form">
    <div>
      <input type="text" name="name" placeholder="Name" required="true"><br>
      <input type="text" name="company" placeholder="Company"><br>
      <div>
        <input type="email" name="email" placeholder="E-Mail" required="true"><br>
        <input type="tel" name="phone" placeholder="Phone Number">
      </div>
      <textarea name="message" style="width: 300px; height: 200px;">
        Message
      </textarea>
    </div>
    <div class="contact-form-submit">
      <button type="button" onclick="alert('Cancel')">Cancel</button>
      <button type="button" onclick="alert('Submit')">Submit</button>
    </div>

  </form>
</div>
