{% assign capital_letters= "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z" |
split: ' ' %}
{% assign small_letters= "a b c d e f g h i j k l m n o p q r s t u v w x y z"
| split: ' ' %}


<span class="nixie--tube">
  {% for capital_letter in capital_letters %}
    <p class="nixie--tube--element">{{capital_letter}}</p>
  {% endfor %}
</span>

<span class="nixie--tube">
  {% for small_letter in small_letters %}
    <p class="nixie--tube--element">{{small_letter}}</p>
  {% endfor %}
</span>

<span class="nixie--tube">
  {% for small_letter in small_letters %}
    <p class="nixie--tube--element">{{small_letter}}</p>
  {% endfor %}
</span>

<span class="nixie--tube">
  {% for small_letter in small_letters %}
    <p class="nixie--tube--element">{{small_letter}}</p>
  {% endfor %}
</span>

<span class="nixie--tube">
  {% for small_letter in small_letters %}
    <p class="nixie--tube--element">{{small_letter}}</p>
  {% endfor %}
</span>
