<div class="container" style="justify-content: center;">
  <form class="trap-card form-horizontal" id="inspire">
    <div class="input-group">
      <input class="form-input formic" type="text"
                                       id="trap-card-1"
                                       name="message"
                                       placeholder="Say Somethign!?">
      <button type="submit" id="trap-card-0"  class="btn btn-primary input-group-btn" style="float: right;">Submit</button>
    </div>
    <div class="form-group input-group form-horizontal">
      <label class="form-switch">
        <input id="colour-toggle"type="checkbox">
        <i class="form-icon"></i>Advanced
      </label>
      <label class="form-switch invert hidden">
        <input type="checkbox">
        <i class="form-icon"></i>Invert
      </label>

      {% for color in site.color %}
        <label class="form-input colour hidden">
          <input id="color-{{color.title}}" class="form-input"
                                            type="color"
                                            value="{{color.hex}}">
        </label>
        {% if color.glow %}
          <div class="form-input colour hidden">
            <input id="color-{{color.title}}-glow" class="form-input"
                                                   type="color"
                                                   value="{{color.glow}}">
          </div>
        {% endif %}
      {% endfor %}
      <label class="form-switch reset hidden">
        <button class="btn btn-secondary btn-sm
        input-group-btn reset-btn">Reset</button>
      </label>

    </div>
  </form>
</div>
