<div class="container">
  <form class="trap-card form-horizontal" id="inspire">
    <div class="input-group">
      <input class="form-input formic" type="text"
                                       id="trap-card-1"
                                       name="message"
                                       placeholder="Say Somethign!?">
      <button type="submit" id="trap-card-0"  class="btn btn-primary input-group-btn" style="float: right;">Submit</button>
    </div>
    <div class="columns">
      <div class="column col-3">

        <div class="form-group form-horizontal">
          <label class="form-switch">
            <input id="colour-toggle"type="checkbox">
            <i class="form-icon"></i>Advanced
          </label>
        </div>
      </div>
      <div class="column col-3 colour" style="display: none;">
        <label class="form-label" for="color-primary">Primary Colour</label>
        <label class="form-label" for="color-primary-glow">Primary Glow Colour</label>
        <label class="form-label" for="color-secondary">Secondary Colour</label>
        <label class="form-label" for="color-secondary-glow">Secondary Glow Colour</label>
      </div>
      <div class="column col-6 colour" style="display: none;">
        <div class="form-group form-horizontal colours">
          <input id="color-primary" class="form-input" type="color"
                                                       value="{{site.primary}}">
          <input id="color-primary-glow" class="form-input" type="color"
                                                            value="{{site.color.primary-glow}}">
          <input id="color-secondary" class="form-input" type="color"
                                                         value="{{site.color.secondary}}">
          <input id="color-secondary-glow" class="form-input" type="color"
                                                              value="{{site.color.secondary-glow}}">
        </div>
      </div>
    </div>
  </form>
</div>
