<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="container columns col-gapless" style="width: 100%;">
      <div id="trap-door"></div>
      <div class="container" style="justify-content: center;">
        {% include fancy55.html %}
      </div>

      <form class="form-group trap-card form-horizontal" id="inspire">
        <input class="form-input form-inline formic col-10" type="text" id="trap-card-1"
        placeholder="Say something!?">
      </form>
    </div>
    {{ content }}
  </body>
</html>
