<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="container columns col-gapless" style="width: 100%;">
      <div id="trap-door"></div>
      <div class="container" style="justify-content: center;">
        {% include fancy55.html %}
      </div>

      <div class="form-group trap-card">
        <input class="form-input form-inline" type="text" id="trap-card-1"
        placeholder="What do you desire most?">
        <button class="btn btn-primary p-centered bg-dark">Say Something!</button>
      </div>
    </div>
    {{ content }}
  </body>
</html>
